Dockerfile
.dockerignore

*.sql--

.gitignore
.git

Makefile
nginx-conf/nginx.conf
php-conf/php.ini
README.md

/public-html/wp-content/uploads
/public-html
/public-html/wp-content
/public-html/.htaccess
/public-html/wp-config.php
/public-html/logs/debug.log
